* {
  font-size: 16px;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  padding: 8px;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  padding: 8px 5px;
  margin: 20px 8px 8px;
}

.content {
  background: #e3f4ff;
  padding: 12px 5px;
  margin: 8px;
}

.button-container {
  background: #e3f4ff;
  margin: 8px;
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  display:block;
  padding: 8px 24px;
  margin: 0 auto;
}